{% extends 'layout/base.html' %}

{% block content %}
<div class="container" style="background-image: url('/static/wall1.jpg'); background-size: cover; background-position: center;height: 100vh;">
    <div class="row d-flex align-items-center vh-100  ">
        <div class="col-6 mx-auto card  " style="font-family: Sedan SC, serif;">
            <h1>UPLOAD FILE</h1>
            <form method="post" enctype="multipart/form-data" class="card-body">
                <div class="mb-3">
                    <label for="file" class="form-label">Select Your File</label>
                    <input type="file" class="form-control" name="file" id="file" placeholder=""
                        aria-describedby="fileHelpId" />
                    <div id="fileHelpId" class="form-text">Help text</div>
                </div>
                <button class="btn btn-success">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}